@* @model IEnumerable<WebPersonal_MVC.Models.Dto.CProvinDto> *@
@model WebPersonal_MVC.Models.ViewModel.ProvinciaPaginadoViewModel

@{
    ViewData["Title"] = "Provincias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-4 boder">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">@ViewData["Title"]</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Provincia" asp-action="CreateProvincia" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Crear Nuevo</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Provincia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProvinciaList)
            {
                <tr>
                    <td>@item.CodProvin</td>
                    <td>@item.NomProvin</td>
                    <td>
                        <a asp-controller="Provincia" asp-action="ActualizarProvincia" asp-route-codProvin="@item.CodProvin" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                        <a asp-controller="Provincia" asp-action="RemoverProvincia" asp-route-codProvin="@item.CodProvin" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a asp-action="IndexProvincia"
   asp-route-pageNumber="@(1)" class="btn btn-outline-primary  000000">
    <i class="bi bi-skip-start-fill"></i>
</a>
<a asp-action="IndexProvincia"
   asp-route-pageNumber="@(Model.PageNumber - 1)" class="btn btn-outline-primary @Model.Previo">
    Anterior
</a>
<span>Pagina @Model.PageNumber de @Model.TotalPaginas </span>
<a asp-action="IndexProvincia"
   asp-route-pageNumber="@(Model.PageNumber + 1)" class="btn btn-outline-primary @Model.Siguiente">
    Siguiente
</a>
<a asp-action="IndexProvincia"
   asp-route-pageNumber="@Model.TotalPaginas" class="btn btn-outline-primary">
    <i class="bi bi-skip-end-fill"></i>
</a>